.inputOption {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    width: 100%;
    padding: 10px;
    margin: 0.5rem 0.5rem;
    border-radius: 10px;
}

.inputOption>* {
    margin: 0rem 0.5rem;
}

.inputOption:hover {
    background-color: lightgrey;
    cursor: pointer;
}